html, p {
    margin: 0;
    padding: 0;
}

#object01 {
     position: fixed;
     top: 100px;
     left: 100px;
     width: 200px;
     height: 200px;
     background-color: aquamarine;
     border: dashed 2px #000;
     border-radius: 0%;
     animation-duration: 5s;
     animation-iteration-count: infinite;
}

