#seonbin {
	left: 90px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 266px;
	white-space: nowrap;
	text-align: left;
	font-size: 52px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#portfolio {
	left: 88px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 574px;
	white-space: nowrap;
	text-align: left;
    font-size: 52px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#email {
	left: 90px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(0,0,0,1);
}
#instagram {
	left: 90px;
	top: 425px;
	position: absolute;
	overflow: visible;
	width: 352px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(0,0,0,1);
}
#n_021-1 {
	left: 90px;
	top: 532px;
	position: absolute;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(0,0,0,1);
}
#n_021-2 {
	left: 90px;
	top: 639px;
	position: absolute;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(0,0,0,1);
}