.mediaViewInfo {
	--web-view-name: web1;
	--web-view-id: web1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web1 {
	position: absolute;
	width: 1920px;
	height: 1066px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: web1;
	--web-view-id: web1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#seonbin {
	left: 184px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#portfolio {
	left: 183px;
	top: 162px;
	position: absolute;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	color: rgba(0,0,0,1);
}
#email {
	left: 223.103px;
	top: 252.754px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#instagram {
	left: 223.103px;
	top: 321.502px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#n_021-1 {
	left: 223.103px;
	top: 390.251px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#n_021-2 {
	left: 223.103px;
	top: 458.999px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: web2.html;
	cursor: pointer;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n__2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1280px;
	height: 2010px;
	left: 458px;
	top: 124px;
	overflow: hidden;
}
#n_21129448 {
	position: absolute;
	width: 1280px;
	height: 1281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text_p1 {
	position: absolute;
	width: 1280px;
	height: 560px;
	left: 0px;
	top: 1379px;
	overflow: visible;
}
#n____a_lighthouse_and_a_red_ro {
	left: 0px;
	top: 1308px;
	position: absolute;
	overflow: visible;
	width: 478px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n____elephant_typeface {
	left: 0px;
	top: 1966px;
	position: absolute;
	overflow: visible;
	width: 424px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	overflow: visible;
	position: absolute;
	width: 2.764px;
	height: 595.821px;
	left: 183.764px;
	top: 253.136px;
	transform: matrix(1,0,0,1,0,0);
}