.mediaViewInfo {
	--web-view-name: web1;
	--web-view-id: web1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web1 {
	position: absolute;
	width: 1920px;
	height: 7755px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: web1;
	--web-view-id: web1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#seonbin {
	left: 461px;
	top: 217px;
	position: absolute;
	overflow: visible;
	width: 255px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#portfolio {
	left: 461px;
	top: 247px;
	position: absolute;
	overflow: visible;
	width: 820px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(0,0,0,1);
}
#email {
	left: 223.103px;
	top: 252.754px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#instagram {
	left: 223.103px;
	top: 321.502px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#n_021-1 {
	left: 248.603px;
	top: 507.5px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_021-2 {
	left: 248.603px;
	top: 2709px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n__2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1281px;
	height: 7213px;
	left: 461px;
	top: 524px;
	overflow: hidden;
}
#n_21129448 {
	position: absolute;
	width: 1280px;
	height: 1281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#text_p1 {
	position: absolute;
	width: 1280px;
	height: 560px;
	left: 0px;
	top: 1379px;
	overflow: visible;
}
#n____a_lighthouse_and_a_red_ro {
	left: 0px;
	top: 1308px;
	position: absolute;
	overflow: visible;
	width: 478px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n____elephant_typeface {
	left: 0px;
	top: 1966px;
	position: absolute;
	overflow: visible;
	width: 424px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_1 {
	position: absolute;
	width: 1280px;
	height: 4873px;
	left: 1px;
	top: 2192px;
	overflow: visible;
}
#auctionredesign_p {
	position: absolute;
	width: 1280px;
	height: 758px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_ {
	position: absolute;
	width: 1280px;
	height: 850px;
	left: 0px;
	top: 882px;
	overflow: visible;
}
#n_____AUCTION_redesign {
	left: 0px;
	top: 785px;
	position: absolute;
	overflow: visible;
	width: 407px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n__v {
	position: absolute;
	width: 1280px;
	height: 2972px;
	left: 0px;
	top: 1830px;
	overflow: visible;
}
#n_____BASKIN_ROBBINS_poster {
	left: 0px;
	top: 1759px;
	position: absolute;
	overflow: visible;
	width: 626px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n___beauty_brand_web_design {
	left: 0px;
	top: 4829px;
	position: absolute;
	overflow: visible;
	width: 567px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_1_y {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_y {
	overflow: visible;
	position: absolute;
	width: 1280.5px;
	height: 1px;
	left: 0px;
	top: 2074.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_1_z {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_z {
	overflow: visible;
	position: absolute;
	width: 2.764px;
	height: 7376.939px;
	left: 183.764px;
	top: 217px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2 {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 2px;
	left: 184.5px;
	top: 2725.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3 {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 2px;
	left: 184.528px;
	top: 524px;
	transform: matrix(1,0,0,1,0,0);
}
#who_is_seonbin {
	left: 1527px;
	top: 394px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(156,156,156,1);
	text-decoration: underline;
}