.mediaViewInfo {
	--web-view-name: web2;
	--web-view-id: web2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web2 {
	position: absolute;
	width: 1920px;
	height: 1066px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: web2;
	--web-view-id: web2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#seonbin {
	left: 183px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#portfolio {
	left: 183px;
	top: 163px;
	position: absolute;
	overflow: visible;
	width: 252px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	color: rgba(0,0,0,1);
}
#n__1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1280px;
	height: 4909px;
	left: 458px;
	top: 124px;
	overflow: hidden;
}
#auctionredesign_p {
	position: absolute;
	width: 1280px;
	height: 758px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_ {
	position: absolute;
	width: 1280px;
	height: 850px;
	left: 0px;
	top: 882px;
	overflow: visible;
}
#n_____AUCTION_redesign {
	left: 0px;
	top: 785px;
	position: absolute;
	overflow: visible;
	width: 407px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n__n {
	position: absolute;
	width: 1280px;
	height: 2972px;
	left: 0px;
	top: 1830px;
	overflow: visible;
}
#n_____BASKIN_ROBBINS_poster {
	left: 0px;
	top: 1759px;
	position: absolute;
	overflow: visible;
	width: 626px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n___beauty_brand_web_design {
	left: 0px;
	top: 4829px;
	position: absolute;
	overflow: visible;
	width: 567px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#email {
	left: 222.339px;
	top: 253.8px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#instagram {
	left: 222.339px;
	top: 322.548px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#n_021-1 {
	left: 222.339px;
	top: 391.296px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: web1.html;
	cursor: pointer;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_021-2 {
	left: 222.339px;
	top: 460.045px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#n_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2 {
	overflow: visible;
	position: absolute;
	width: 2.764px;
	height: 595.821px;
	left: 183px;
	top: 254.182px;
	transform: matrix(1,0,0,1,0,0);
}