.mediaViewInfo {
	--web-view-name: web – 1;
	--web-view-id: web__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web__1 {
	position: absolute;
	width: 1920px;
	height: 1824px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: web – 1;
	--web-view-id: web__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#email {
	left: 317.339px;
	top: 252.754px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#instagram {
	left: 317.339px;
	top: 321.502px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#Who_is_Seonbin {
	left: 342.839px;
	top: 507.5px;
	position: absolute;
	overflow: visible;
	width: 228px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#n_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	overflow: visible;
	position: absolute;
	width: 2.764px;
	height: 1434.516px;
	left: 278px;
	top: 217px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3 {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 2px;
	left: 278.764px;
	top: 524px;
	transform: matrix(1,0,0,1,0,0);
}
#KakaoTalk_20220426_194854953 {
	position: absolute;
	width: 535px;
	height: 535px;
	left: 541px;
	top: 670px;
	overflow: visible;
}
#jang_seonbin {
	left: 1141px;
	top: 756px;
	position: absolute;
	overflow: visible;
	width: 312px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Text {
	left: 1141px;
	top: 671px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: ChangwonDangamAsac;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(0,0,0,1);
}
#bloodtype_A_mbti_ISFP {
	left: 1141px;
	top: 839px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 54px;
	margin-top: -11.5px;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#aducation_2021________________ {
	left: 541px;
	top: 1268px;
	position: absolute;
	overflow: visible;
	width: 650px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -17.5px;
	text-align: left;
	font-family: Source Han Sans K;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
}
#n_20 {
	position: absolute;
	width: 1024.369px;
	height: 320.589px;
	left: 505px;
	top: 177.708px;
	overflow: visible;
}
#n_18 {
	position: absolute;
	width: 1024.369px;
	height: 320.589px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_25 {
	position: absolute;
	width: 1858px;
	height: 1054px;
	left: 54px;
	top: -62px;
	overflow: visible;
}
#n_21 {
	position: absolute;
	width: 299px;
	height: 449px;
	left: 0px;
	top: 62px;
	overflow: visible;
}
#n_2 {
	position: absolute;
	width: 299px;
	height: 449px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_24 {
	position: absolute;
	width: 555px;
	height: 832px;
	left: 1303px;
	top: 222px;
	overflow: visible;
}
#n_2_x {
	position: absolute;
	width: 555px;
	height: 832px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_22 {
	position: absolute;
	width: 220px;
	height: 331px;
	left: 1321px;
	top: 0px;
	overflow: visible;
}
#n_2_z {
	position: absolute;
	width: 220px;
	height: 331px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_23 {
	position: absolute;
	width: 127px;
	height: 191px;
	left: 1674px;
	top: 231px;
	overflow: visible;
}
#n_2_ {
	position: absolute;
	width: 127px;
	height: 191px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#seonbin_2022 {
	left: 842px;
	top: 1739px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(170,170,170,1);
}
#back_to_home {
	left: 1138px;
	top: 432px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: web.html;
	cursor: pointer;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(156,156,156,1);
	text-decoration: underline;
}